<!DOCTYPE html>
<html>
  <head>
    <title>{{ name }}-{{ version }}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body class="h-screen flex flex-col bg-dark-primary">
    <nav
      class="bg-dark-secondary px-4 pt-2 pb-2 text-dark flex justify-between items-center border-b border-dark"
    >
      <div class="text-left text-xl font-semibold">Tucana Linux</div>

      <div
        class="relative text-right text-sm p-2 bg-dark-primary text-gray-400 shadow-2xl border-b border-dark border-1"
      >
        <input id="search" type="text" , placeholder="Search Packages" />
      </div>
    </nav>
    <div
      class="w-full flex-1 p-4 bg-dark-primary box-border md:overflow-hidden"
    >
      <div
        class="grid grid-cols-1 md:grid-cols-3 gap-4 h-full text-sm text-dark font-sans"
      >
        <div
          class="flex flex-col gap-4 border border-dark bg-dark-secondary p-4"
        >
          <div class="border border-dark text-center py-1">
            {{ package_name }}
          </div>

          <div class="border border-dark bg-dark-primary p-2 space-y-1">
            <p><strong>Version:</strong> {{ version }}</p>
            <p><strong>Download Size:</strong>{{ download_size }}</p>
            <p><strong>Installed Size:</strong> {{ install_size }}</p>
            <p>
              <strong>Upstream Download:</strong>
              <a href="{{ url }}" class="text-blue-400 underline">Link</a>
            </p>
            <p><strong>Last Commit:</strong> {{ last_commit }}</p>
            <p><strong>Last Rebuilt:</strong> {{ last_update }}</p>
            <p>
              <a
                href="https://github.com/Tucana-Linux/Build-Scripts/{{ build_script_location }}"
                >Source Files</a
              >
              <!--<p><strong>Build Log</strong> 01-24-2025</p>-->
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-4 h-full min-h-0">
          <!--Dependencies box-->
          <div
            class="border border-dark bg-dark-secondary flex flex-col flex-1 min-h-0"
          >
            <div
              class="bg-dark-primary border-b border-dark text-center py-1 flex-shrink-0"
            >
              Dependencies
            </div>
            <div class="p-2 overflow-auto flex-1">
              <ul>
                {% for package_name in depends %}
                <li>
                  <a
                    class="text-blue-400 hover:underline"
                    href="/packages/{{ package_name }}"
                    >{{ package_name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div
            class="border border-dark bg-dark-secondary flex flex-col flex-1 min-h-0"
          >
            <div
              class="bg-dark-primary border-b border-dark text-center py-1 flex-shrink-0"
            >
              Required By
            </div>
            <div class="p-2 overflow-auto flex-1">
              <ul>
                {% for package in reverse_depends %}
                <li>
                  <a
                    class="text-blue-400 hover:underline"
                    href="/packages/{{ package }}"
                    >{{ package }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="flex flex-col border border-dark bg-dark-secondary h-full">
          <div
            class="bg-dark-primary border-b border-dark text-center py-1 flex-shrink-0"
          >
            Files
          </div>
          <div class="flex-1 p-2 overflow-auto">
            <!--{ % for file in files % }
            <p>{{file}}</p>
          { % endfor % } -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
